<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/js/index.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home </a>
              </li>
            </ul>
          </div>
        </nav>
    </header>
    <br>
    <br>
    <br>
    <main role="main" class="container">
        <h1>Add a Pet for <%= user.name %> </h1>
        <form id="add-pet">
            <input type="hidden" name="user_id" value=<%= user.id %> />
            <div class="mb-3">
              <label for="petNameInput" class="form-label">Pet Name</label>
              <input type="text" class="form-control" id="petNameInput" name="pet_name">
            </div>
            <div class="mb-3">
              <label for="speciesInput" class="form-label">Species</label>
              <input type="text" class="form-control" id="speciesInput" name="species">
            </div>
            <div class="mb-3">
              <label for="ageInput" class="form-label">Age</label>
              <input type="number" class="form-control" id="ageInput" name="age">
            </div>
            <button type="submit" class="btn btn-primary">Add Pet</button>
          </form>
    </main>
</body>
</html>